<% @test=["Let's","Play", "Scrabble"] %>
<section class="home_page_table">
  <table class="home_table">
    <% @test.each do |word| %>
      <tr>
        <td class="row">
          <% word.each_char do |char| %>
            <% @letter_score = Scrabble::Scoring.char_score(char)%>
            <section class="tile">
              <span class="home_letter"><%= char.upcase %></span>
              <span class="letter_score"><%= @letter_score %></span>
            </section>
          <% end %>
        </td>
      <tr>
    <% end %>
  </table>
</section>
<section class="home_image"></section>
