<!DOCTYPE html>
<html>
  <head>
    <title>Scrabble</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheet/styles.css">
  </head>
  <body>
    <header>

      <nav class="main_nav">
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/score">SCORE</a></li>
          <li><a href="/score-many">SCORE-MANY</a></li>
        </ul>
      </nav>

    </header>

    <main>
      <%= yield %>
    </main>
    <footer>
    </footer>
  </body>
</html>
